<!-- Main content -->
<section class="container-fluid" id="mainContainerSection">

    <div  class="col-xs-12">
        <input type="text" name="start" placeholder="From Date" class="col-xs-2 form-control">
        <input type="text" name="end" placeholder="To Date" class="col-xs-2 form-control padding">
        <input type="button" class="padding btn btn-primary" value="Search">
    </div>

    <header class="page-header">
        <h1>Here’s what’s been happening in your projects.</h1>
    </header>    


    <ul class="timeline">

        <li>
            <div class="tldate">Today<br/><span>Mar 23</span></div>
            <ul class="timeline">
                <li>
                    <div class="tl-circ"><img src="assets/img/poll.png" class="img-circle avatar img-responsive"></div>            
                    <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4>Pollstation</h4>
                        </div>
                        <div class="tl-body">  
                            <div class="col-xs-12 timeline-content">
                                <div class="col-xs-1"><img src="assets/img/avatar.91.gif" class="img-circle avatar img-responsive"></div>
                                <div class="col-xs-8"><strong> Deepika T.</strong> gave Tejinder p. access to the project: PollStation
                                    <p>Hi Tejinder, Now u can access project</p>                            
                                </div>
                                <div class="col-xs-3">
                                    <small class="text-muted pull-right"><i class="glyphicon glyphicon-time"></i> 11:51am</small>
                                </div>
                                <br>
                            </div>                  
                        </div>
                    </div>
                </li>

                <li class="timeline-inverted">
                    <div class="tl-circ"><img src="assets/img/igni.png" class="img-circle avatar img-responsive"></div>
                    <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4>Donatemate</h4>
                        </div>
                        <div class="tl-body">  
                            <div class="col-xs-12 timeline-content">
                                <div class="col-xs-1"><img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar img-responsive"></div>
                                <div class="col-xs-8"><strong> Shagun </strong> commented on Trademark/Name Change 
                                    <p>Hi Ben, Sure , we can. Thnaks, Shagun</p>                            
                                </div>
                                <div class="col-xs-3">
                                    <small class="text-muted pull-right"><i class="glyphicon glyphicon-time"></i> 11:26am</small>
                                </div>
                                <br>
                            </div>      
                            <div class="col-xs-12 timeline-content">
                                <div class="col-xs-1"><img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar img-responsive"></div>
                                <div class="col-xs-8"><strong> Ben D. </strong>commented on Trademark/Name Change 
                                    <p>Hi Shagun, I have attached some of the content - ive got some more to post, not too much! The rest will be with you tomorrow - we should ...</p>                            
                                    <p>
                                    <div class="client-image" >
                                        <a href="javascript:void(0);"><i class="fa fa-paperclip attachment_icon" aria-hidden="true"></i> Attachment 1</a>
                                    </div>
                                    </p>
                                </div>
                                <div class="col-xs-3">
                                    <small class="text-muted pull-right"><i class="glyphicon glyphicon-time"></i> 4:37am</small>
                                </div>
                                <br>
                            </div> 
                        </div>
                    </div>
                </li>
            </ul>

        </li>

        <li>
            <div class="tldate">Mar 22<br/><span>Wednesday</span></div>
            <ul class="timeline">
                <li>
                    <div class="tl-circ"><img src="assets/img/poll.png" class="img-circle avatar img-responsive"></div>            
                    <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4>Pollstation</h4>
                        </div>
                        <div class="tl-body">  
                            <div class="col-xs-12 timeline-content">
                                <div class="col-xs-1"><img src="assets/img/avatar.96.gif" class="img-circle avatar img-responsive"></div>
                                <div class="col-xs-8"><strong> Luke W. </strong>commented on Final iOS build
                                    <p>Hi Deepika, RE: iOS App Update - 17th March 2017 A bit disappointed with this update. It seems to have many of the problems I previously ..</p>                           
                                </div>
                                <div class="col-xs-3">
                                    <small class="text-muted pull-right"><i class="glyphicon glyphicon-time"></i> 11:10pm</small>
                                </div>
                                <br>
                            </div>   

                            <div class="col-xs-12 timeline-content">
                                <div class="col-xs-1"><img src="assets/img/avatar.91.gif" class="img-circle avatar img-responsive"></div>
                                <div class="col-xs-8"><strong> Deepika T.</strong>commented on Final iOS build
                                    <p>Updated one, in case you haven't download above one: https://i.diawi.com/tN75sY Thanks Deepika</p>                           
                                </div>
                                <div class="col-xs-3">
                                    <small class="text-muted pull-right"><i class="glyphicon glyphicon-time"></i> 4:08pm</small>
                                </div>
                                <br>
                            </div>   
                        </div>
                    </div>
                </li>

                <li class="timeline-inverted">
                    <div class="tl-circ"><img src="assets/img/igni.png" class="img-circle avatar img-responsive"></div>
                    <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4>UnijobApp</h4>
                        </div>
                        <div class="tl-body">  
                            <div class="col-xs-12 timeline-content">
                                <div class="col-xs-1"><img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar img-responsive"></div>
                                <div class="col-xs-8"><strong> Lewis p.</strong> commented on Sprint Deliveries and Discussion
                                    <p>Hi Nitin, Thank you for taking the call. If the meeting with Raj finishes early I will let you know and we can call sooner to try and mak...</p>                            
                                </div>
                                <div class="col-xs-3">
                                    <small class="text-muted pull-right"><i class="glyphicon glyphicon-time"></i> 2:18pm</small>
                                </div>
                                <br>
                            </div>      
                            <div class="col-xs-12 timeline-content">
                                <div class="col-xs-1"><img src="assets/img/avatar.92.gif" class="img-circle avatar img-responsive"></div>
                                <div class="col-xs-8"><strong> Nitin K.</strong> commented on Sprint Deliveries and Discussion
                                    <p>Hello Lewis, That is little late hrs for me but not an issue. I will be available for the call. Regards, Nitin</p>
                                </div>
                                <div class="col-xs-3">
                                    <small class="text-muted pull-right"><i class="glyphicon glyphicon-time"></i> 12:29pm</small>
                                </div>
                                <br>
                            </div> 
                            <div class="col-xs-12 timeline-content">
                                <div class="col-xs-1"><img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar img-responsive"></div>
                                <div class="col-xs-8"><strong> Lewis p.</strong> commented on Sprint Deliveries and Discussion
                                    <p>Hi Nitin All seems correct but we can discuss on the call. We are flying down to London from Scotland today to meet Raj at 11am. We could...</p>
                                </div>
                                <div class="col-xs-3">
                                    <small class="text-muted pull-right"><i class="glyphicon glyphicon-time"></i> 11:18am</small>
                                </div>
                                <br>
                            </div> 
                        </div>
                    </div>
                </li>

                <li>
                    <div class="tl-circ"><img src="assets/img/poll.png" class="img-circle avatar img-responsive"></div>
                    <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4>Pollstation</h4>
                        </div>
                        <div class="tl-body">
                            <div class="col-xs-12 timeline-content">
                                <div class="col-xs-1"><img src="assets/img/avatar.91.gif"  class="img-circle avatar img-responsive"></div>
                                <div class="col-xs-8"><strong> Deepika T.</strong> posted a message: Final iOS build
                                    <p>Hi Luke, Below is the updated ios build. Please have a look and share your feedback on the same. https://i.diawi.com/6VNpHQ Please share ...</p>                            
                                </div>
                                <div class="col-xs-3">
                                    <small class="text-muted pull-right"><i class="glyphicon glyphicon-time"></i> 9:10am</small>
                                </div>
                                <br>
                            </div>  
                        </div>
                    </div>
                </li>

            </ul>

        </li>

        <li>
            <div class="tldate">Mar 21<br/><span>Tuesday</span></div>
            <ul class="timeline">
                <li class="timeline-inverted">
                    <div class="tl-circ"><img src="assets/img/igni.png" class="img-circle avatar img-responsive"></div>
                    <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4>Donatemate</h4>
                        </div>
                        <div class="tl-body">
                            <div class="col-xs-12 timeline-content">
                                <div class="col-xs-1"><img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar img-responsive"></div>
                                <div class="col-xs-8"><strong> Shagun </strong> commented on Final Build 
                                    <p>Hi Ben, Regarding changes let me discuss the same with Nitin and will get back to you. The issue I will look into this and will update yo...</p>                            
                                </div>
                                <div class="col-xs-3">
                                    <small class="text-muted pull-right"><i class="glyphicon glyphicon-time"></i> 12:10pm</small>
                                </div>
                                <br>
                            </div>  
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</section>