<div class="panel panel-info" data-ng-init="getDashboardComparitiveIssues();">
    <div class="panel-heading">
        <h3 class="panel-title">Comparitive Issues Statistics
            <span collapse-toggler  data-toggle="collapse" data-target="#comparitive_issuess" class="pull-right" style="cursor:pointer">
                <i class="fa fa-minus"></i>
            </span>
    </div>

    <div class="panel-body  collapse in" id="comparitive_issuess">
        <div class="panel_inner"> 
            <div  id="comparitive_issues" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
</div>
