<div class="panel panel-info" data-ng-init="getDashboardSprintsChart();">
    <div class="panel-heading">
        <h3 class="panel-title">Sprint Report
            <span collapse-toggler  data-toggle="collapse" data-target="#sprint_report" class="pull-right" style="cursor:pointer">
                <i class="fa fa-minus"></i>
            </span>
    </div>
    <div class="panel-body  collapse in" id="sprint_report">
        <div class="panel_inner">                   
            <div id="containers" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
</div>
