<div class="panel panel-info" data-ng-init="getDashboardTaskReport();">
    <div class="panel-heading">
        <h3 class="panel-title">User Task Report
            <span collapse-toggler  data-toggle="collapse" data-target="#task_report" class="pull-right" style="cursor:pointer">
                <i class="fa fa-minus"></i>
            </span>
    </div>
    <div class="panel-body  collapse in" id="task_report">
        <div class="panel_inner">                   
            <div id="container_task" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
</div>
