<div class="panel panel-info" data-ng-init="getDashboardCommits();">
    <div class="panel-heading">
        <h3 class="panel-title">
            All Commit Report
            <a data-ui-sref="sprints">View All</a>
            <span collapse-toggler class="pull-right" style="cursor:pointer" data-toggle="collapse" data-target="#allSprint"> <i class="fa fa-minus"></i></span>
        </h3>        
    </div>
    <div class="panel-body  collapse in" id="allSprint"> 
        <div class="panel_inner ">

            <div class=" table-responsive">
                <table class="table table-bordered">
                    <thead class="">
                        <tr>
                            <th colspan="10"  class="th_highlight">Users Commit Report</th>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <th>Total Commits</th>
                            <th>Total Line of Code</th>
                            <th>Pending</th>
                            <th>Approved Commit</th>
                            <th>Reject Commits</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="record in list"> 
                            <td data-ng-bind="record.git_user_name"></td>
                            <td data-ng-bind="record.details.number_of_commits"></td>
                            <td data-ng-bind="record.details.number_of_lines"></td>
                            <td data-ng-bind="record.details.commits_pending"></td>
                            <td data-ng-bind="record.details.commits_approved"></td>
                            <td data-ng-bind="record.details.commits_unapproved"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   <nav class="pull-right" aria-label="Page navigation">
        <ul class="pagination" items-per-page="commitLimit" uib-pagination total-items="commitTotal" ng-model="commitCurrentPage" boundary-link-numbers="true" max-size="commitMaxSize" rotate="false" data-ng-change="getDashboardCommits()"></ul>
    </nav>
    
</div>
