<div class="panel panel-info" data-ng-init="getDashboardUserReportChart();">
    <div class="panel-heading">
        <h3 class="panel-title">User Task Report
            <span collapse-toggler  data-toggle="collapse" data-target="#user-report" class="pull-right" style="cursor:pointer">
                <i class="fa fa-minus"></i>
            </span>
    </div>

    <div class="panel-body  collapse in" id="user-report">
        <div class="panel_inner">
            <select class="form-control capitalize" data-ng-change="getDashboardUserReportChart(issue_sprint_id);" data-ng-model="issue_sprint_id"  data-ng-options="option.sprint_name | capitalize for option in sprint_data track by option._id" >
                <option value="">Select Sprint</option>
            </select>
            
            <div id="users_report" style="min-width: 310px; height: 400px; margin: 0 auto"></div>           
            
        </div>
    </div>
</div>
