<section class="container-fluid" id="mainContainerSection">
    <div class="row">
       <div class="col-md-2">
                <div class="list-group">
                    <a data-ui-sref-active="active" data-ui-sref="main.releases.managePlans" class="list-group-item">Manage Plans</a>
                    <a data-ui-sref-active="active" data-ui-sref="main.releases.manageRealeses" class="list-group-item">Manage Builds</a>
                </div> 
            </div>
        <div class="col-md-10">
                <section data-ui-view="section" data-ng-show="release_data"></section>
            </div>	  	 
        </div>
</section>
