<!-- 
// @file task-view-history.html
// @description - history of issues 
// @author prabhjot_kaur
// @date  15 June 2017
-->  
<div class="row">
    <div class="col-xs-12">  
        <div class="xtraSpace">

            <div class="panel task-history panel-default padding-15x" data-ng-init="viewHistory()">

                <div class="page_title">
                    <h1><i class="fa fa-history" aria-hidden="true"></i> Task History {{totalHistoryCount}}</h1>
                </div> 								

                <div class="panel-body table-responsive">
                    <table class="table table-striped table-bordered " cellspacing="0 " width="100% ">
                        <thead class="thead-inverse ">
                            <tr>
                                <th></th>                                            
                                <th>Message</th>
                                <th>Event</th>
                                <th>Task Name</th>
                                <th>User Story Name</th>
                                <th>Sprint Name</th>
                                <th>Project Name</th>
                                <th>Created At</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="history in task_history track by $index" ng-if="task_history.length > 0">
                                <td><div class="media-left">    
                                        <img class="thumbnail img-responsive" title="{{history.sender_id.first_name}} {{history.sender_id.last_name}}" src="{{history.sender_id.profile_pic ? baseUrl + 'attachment/admin/' + history.sender_id.profile_pic :  'assets/img/default.png'}}">
                                        <span class="capitalize">{{history.sender_id.first_name}} {{history.sender_id.last_name}}</span></div></td>
                                <td data-ng-bind="history.message" class="firstCap"></td>
                                <td data-ng-bind="history.event_type_id.name | capitalize"></td>
                                <td data-ng-bind="history.task_id == null ? history.parent_id.name:history.task_id.name"></td>
                                <td data-ng-bind="history.parent_id.name | capitalize"></td>
                                <td data-ng-bind="history.sprint_id.sprint_name | capitalize"></td>
                                <td data-ng-bind="history.project_id.title | capitalize"></td>
                                <td data-ng-bind="history.created_at | convert_date"></td>
                                <td>{{histoy.parent_id.name}}</td>
                            </tr> 
                            <tr ng-if="task_history.length == 0">
                                <td colspan="8" class="capitalize no-data">no task history</td>
                            </tr>                                               
                        </tbody>
                    </table>
                </div> 
            </div>
            <!-- <div ng-if="task_history.length>0"> -->
            <nav aria-label="Page navigation" class="pull-right">
                <ul class="pagination" uib-pagination total-items="totalHistoryCount" data-ng-model="currentPageTaskHistory" boundary-link-numbers="true" max-size="5" rotate="false" data-ng-change="viewHistory()">
                </ul>
            </nav><!-- </div> -->
        </div>
        <!-- /.row -->

    </div>
</div>

