
<section class="container-fluid" id="mainContainerSection">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-sm-2">
                <div class="list-group">
                    <a data-ui-sref-active="active" data-ui-sref="main.task.section({ type: 'detail', id : task_id, pid : pid})" class="list-group-item">
                        <i class="glyphicon glyphicon-list-alt"></i>&nbsp;Description
                    </a>
                    <a data-ui-sref-active="active" data-ui-sref="main.task.section({ type: 'efforts', id : task_id, pid : pid})" class="list-group-item">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i> Efforts
                    </a>
                    <a data-ui-sref-active="active" data-ui-sref="main.task.section({ type: 'history', id : task_id, pid : pid})" class="list-group-item">
                        <i class="fa fa-history" aria-hidden="true"></i> History
                    </a>
                    <a data-ui-sref-active="active" data-ui-sref="main.task.section({ type: 'attachments', id : task_id, pid : pid})" class="list-group-item">
                        <i class="glyphicon glyphicon-paperclip"></i> Attachments
                    </a>
                    <a data-ui-sref-active="active" data-ui-sref="main.task.section({ type: 'comments', id : task_id, pid : pid})" class="list-group-item">
                        <i class="fa fa-comments-o"></i>  Comments
                    </a>
                </div> 
            </div>
            <div class="col-sm-10">
                <section data-ui-view="section"></section>
            </div>	  	 

        </div>
    </div>
</section>
