<div header></div>
<div notification></div>

<section class="container-fluid" id="mainContainerSection">
    <div class="row">
        <div class="col-xs-12 align-center">

            <div class="panel panel-default change-password">
                <div class="align-left">
                    <div class="page_title">
                        <h1>Change Password</h1>
                </div>
                </div>
                <div class="panel-body align-left">
                    <form data-ng-init=" submitted = false; " class="form-signin" name="forgot" data-ng-submit=" forgot.$valid ? updatePassword() : submitted = true " novalidate>

                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">Old Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input data-ng-model="user.old_password" data-ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%^&*()_+\-=\[\]{};':\\|,.<>\/?]{6,}$/"  data-ng-minlength="6" data-ng-maxlength="30" name="old_password" type="password" id="old_password" class="form-control" placeholder="Old password" required/>
                                </div>
                                
                                <div ng-messages="forgot.old_password.$error" class="text-danger" role="alert" data-ng-if=" submitted || forgot.old_password.$touched ">
                                    <div ng-message="required">Password is required.</div>
                                    <div ng-message="pattern">Old Password must contain minimum 6 char and should be alphanumeric</div>
                                    <div ng-message="minlength">Your password is too short.</div>
                                    <div ng-message="maxlength">Your password is too long.</div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="new_password" class="cols-sm-2 control-label">New Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input data-ng-model="user.new_password" data-ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%^&*()_+\-=\[\]{};':\\|,.<>\/?]{6,}$/" data-ng-minlength="6" data-ng-maxlength="30" name="new_password" type="password" id="new_password" class="form-control" placeholder="New password" required/>
                                    
                                </div>
                                
                                <div ng-messages="forgot.new_password.$error" class="text-danger" role="alert" data-ng-if=" submitted || forgot.new_password.$touched ">
                                        <div ng-message="required">Password is required.</div>
                                        <div ng-message="pattern">New Password must contain minimum 6 char and should be alphanumeric.</div>
                                        <div ng-message="minlength">Your password is too short.</div>
                                        <div ng-message="maxlength">Your password is too long.</div>
                                    </div>
                                    
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input data-ng-model="user.confirm_password" name="confirm_password" type="password" id="confirm_password" pw-check="new_password" class="form-control" placeholder="Confirm password" required/>
                                    
                                </div>
<!-- 
data-ng-minlength="6" data-ng-maxlength="30" 
<div ng-messages="forgot.confirm_password.$error" class="text-danger" role="alert" data-ng-if=" submitted || forgot.confirm_password.$touched ">
                                    <div ng-message="required">Password is required.</div>
                                    <div ng-message="pattern">Confirm Password must contain minimum 6 char and should be alphanumeric.</div>
                                    <div ng-message="minlength">Your password is too short.</div>
                                    <div ng-message="maxlength">Your password is too long.</div>
                                </div>
                               -->
                                <div class="text-danger" data-ng-show=" forgot.confirm_password.$error.pwmatch " class="text-danger">Passwords don't match.</div>
                            </div>
                        </div>

                        <div class="form-group clearfix ">
                            <button class="btn btn-primary" type="submit">Update</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>   <!-- /.row -->
    </div>

</section>
