<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1 , maximum-scale=1 , minimum-scale=1" name="viewport">
    <title>Babble | Login</title>
    <!--bootstrap-->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <!--custom-css-->
    <link href="css/style.css" rel="stylesheet" />
    <!--font-css-->
    <link href="fonts/custom-font/style.css" rel="stylesheet" />
</head>

<body>
    <div class="main_outer beforelogin">
            <div class="container">                
                <div class="col-xs-12 col-md-offset-3 col-md-6 outer-contain">
                    <div class="row before-container">
                        <div class="logo col-xs-12 text-center">
                            <a href="#">
                                <img src="images/logo.png" alt="logo">
                            </a>
                        </div>
                        <div class="col-xs-12 login-form">
                        <!-- login form start -->                            
                           <form>                                
                                <div class="form-group">
                                    <span class="input">
                                        <input class="input_field" type="email" id="input-2" />
                                        <label class="input_label" for="input-2">
                                            <span class="input_label-content input_label-content--nao">Email</span>
                                        </label>
                                        <svg class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                            <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                                        </svg>
                                    </span>                                 
                                </div>
                                 <div class="form-group">
                                    <span class="input">
                                        <input class="input_field" type="Password" id="input-2" />
                                        <label class="input_label" for="input-2">
                                            <span class="input_label-content input_label-content--nao">Password</span>
                                        </label>
                                        <svg class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                            <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                                        </svg>
                                    </span>                                 
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn-block darkblue-btn" value="LOG IN">
                                </div>
                                <div class="form-group text-center">
                                    <a href="forget-password.html"  class="forget-pswd">Forgot password?</a>
                                </div>
                            </form>
                        <!-- login form end -->
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </body>
</html>