<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1 , maximum-scale=1 , minimum-scale=1" name="viewport">
    <title>Babble | Profile</title>
    <!--bootstrap-->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <!--custom-css-->
    <link href="css/style.css" rel="stylesheet" />
    <!--font-css-->
    <link href="fonts/custom-font/style.css" rel="stylesheet" />
</head>

<body>
    <div class="main_outer afterlogin">
        <!-- header start -->
        <header>
            <div class="container-fluid">
                <!-- mobile header start -->
                <div class="row mobile-header">                    
                    <div class="col-xs-6 col-sm-push-6 col-sm-6">
                        <div class="logo-mobile"><a href="#"><img src="images/white-logo.png" alt=""></a></div>
                    </div>
                    <div class="col-xs-6 col-sm-pull-6 col-sm-6 menu-icon">
                        <button class="c-hamburger c-hamburger--htx mobile-menu showing-menu">
                            <span>toggle menu</span>
                        </button>
                    </div>
                </div>
                <!-- mobile header end -->
                <div class="row search-row"> 
                     <!-- userprofile start -->
                     <div class="col-xs-12 col-sm-6 text-right pull-right user-info">                                      
                        <h3>Stephen</h3>
                        <div class="b_useru-img">
                            <img src="images/user-img.png" alt="">
                        </div>                                  
                    </div>  
                    <!-- userprofile end -->                             
                </div> 
            </div>
        </header>
        <!-- header end -->

        <!-- sidebar start -->
            <div class="sidebar">
                <div class="logo-dashborad">
                    <a href="#"><img src="images/white-logo.png" alt=""></a>
                </div>
                <nav>
                    <ul>
                        <li><a href="#" ><span class="icon-profile-img"></span><i>Profile</i></a></li>
                        <li class="b_drp"><a href="#" class="active"><span class="icon-user-management"></span><i>User Management</i></a>
                            <ul>
                                <li><a href="#" ><i>Communities Management</i></a></li>
                                <li><a href="#"><i>Community Members</i></a></li>
                            </ul>
                        </li>
                        <li><a href="#"><span class="icon-content-management"></span><i>Content Management</i></a></li>
                        <li><a href="#"><span class="icon-page-management"></span><i>Pages Management</i></a></li>
                        <li><a href="#"><span class=" icon-logout-icon"></span><i>Log Out</i></a></li>  
                    </ul>
                </nav>                
            </div>
        <!-- sidebar end -->

        <!-- main section start -->
       <main>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                    <!-- view user content start -->
                         <!-- top row start -->
                        <div class="row top-row">
                            <div class="col-xs-12 col-sm-6">
                                <h2>profile</h2>
                            </div>                           
                        </div>   
                         <!-- top row end --> 
                         <!-- content start -->                    
                        <div class="row">  
                        <div class="col-xs-12 col-sm-4 col-md-2 user-profilebox">
                    		<div class="user-prfl-img">
                    			<img src="images/user-uploadimg.png" alt="">
                    		</div>
                    		<div class="upload-btn">
                    			<input type="file">
                    			<span class="icon-edit"></span>
                    		</div>                        	
                        </div>                       
                        <div class="col-xs-12 col-sm-6 col-md-5 profile-tabouter">
	                        <div class="profile-tab">
	                        	<div class="tab-links">
	                        		<ul>
	                        			<li><a href="#" class="active">Personal Info</a></li>
	                        			<li><a href="#">Change password</a></li>                        			
	                        		</ul>
	                        	</div>
	                        	<div class="tab-content">
	                        		<form>
	                        			<div class="form-group">
	                        				<input type="text" class="form-control" placeholder="Name">
	                        			</div>
	                        			<div class="form-group">
	                        				<input type="text" class="form-control" placeholder="Email">
	                        			</div>
	                        			<div class="form-group">
	                        				<input type="text" class="form-control" placeholder="Password">
	                        			</div>
	                        			<div class="submit-btn">
	                        				<input type="submit" value="Save" class="custom-btn blue-btn">
	                        			</div>
	                        		</form>
	                        	</div>
	                        </div>                        
                        </div>                        
					   </div>
                        <!-- content end -->                         
                    <!-- view user content end -->
                    </div>
                </div>
            </div>
        </main>
        <!-- main section end -->
    </div>
</body>
</html>