<section class="container-fluid" id="mainContainerSection" data-ng-init=" checkUserToken(2);
        submitted = false">

    <!--     checkUserToken(2); -->
    <div class="row">
        <div class="col-xs-12">
            <h1 >Reset Password</h1>

            <hr>
            <div class="col-md-9 personal-info">

                <div class="form-box" id="login-box">
                    <form role="form" name="user_form" novalidate   data-ng-submit=" user_form.$valid ? resetPassword() : submitted = true " >
                        <div class="body bg-gray">
                            <div class="form-group">
                                <input data-ng-model="user.password" data-ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%^&*()_+\-=\[\]{};':\\|,.<>\/?]{6,}$/" data-ng-minlength="6" data-ng-maxlength="30" name="password" type="password" class="form-control" id="password" placeholder="Password" required>
                                <div data-ng-messages="user_form.password.$error" class="text-danger" role="alert" data-ng-if="submitted || user_form.password.$touched">
                                    <div data-ng-message="required">Password is required.</div>
                                    <div data-ng-message="pattern">Password must contain minimum 6 char and should be alphanumeric.</div>
                                    <div data-ng-message="minlength">Your password is too short.</div>
                                    <div data-ng-message="maxlength">Your password is too long.</div>
                                </div>

                            </div> 
                            <div class="form-group">
                                <input data-ng-model="user.cpassword" name="cpassword" id="cpassword" type="password"  class="form-control" placeholder="Confirm Password" pw-check="password" required>                       
                                <div data-ng-messages="user_form.cpassword.$error" class="text-danger" role="alert" data-ng-if="submitted || user_form.cpassword.$touched">
                                    <div ng-show="user_form.cpassword.$error.pwmatch" class="text-danger" >Passwords don't match.</span></div>
                                </div>
                            </div> 
                        </div>
                        <div class="footer">                                                               
                            <button type="submit" class="btn btn-primary">Reset</button>  
                        </div>
                    </form>
                </div>

            </div>

        </div>


    </div>

</section>

