<div class="modal fade">
    <div class="modal-dialog" style="width:100%;">
        <h4 class="modal-title text-center">
        </h4>
        <div class="modal-content">
            <div class="modal-header" style="color: #fff; background-color: #337ab7;border-color: #2e6da4;">
                <button type="button" class="close" title="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-bug" aria-hidden="true"></i>
                    &nbsp;Add Issue</h4>
            </div>
            <form data-ng-init=" submitted = false;" name="add_issues"
                  data-ng-submit=" add_issues.$valid ? addIssuesdetail() : submitted = true"
                  enctype="multipart/form-data" novalidate>
                <div class="modal-body col-lg-12">

                    <div class="col-lg-12">
                        <label class="control-label">Title<sup class="sup_star">*</sup>:</label>
                        <input type="text" class="form-control curve capitalize" name="title" maxlength='255'  ng-model="issues.title" required autofocus="true">
                        <div ng-messages="add_issues.title.$error" class="text-danger"
                             data-ng-if=" submitted || add_issues.title.$touched">
                            <div ng-message="required">Title is required.</div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="bug_detail">
                            <h4 style="color: black;"> Bugs Details </h4>
                            <div class="form-group">
                                <label class="control-label">Steps To Reproduce </label>
                                <textarea rows="3" class="form-control curve" name="text"
                                          ng-model="issues.text"></textarea>

                            </div>
                            <div class="form-group col-lg-6">
                                <label class="control-label">Expected Result</label>
                                <textarea rows="3" class="form-control curve" name="result"
                                          ng-model="issues.result"></textarea>

                            </div>
                            <div class="form-group col-lg-6">
                                <label class="control-label">Actual Result </label>
                                <textarea rows="3" class="form-control curve" name="Act_result"
                                          ng-model="issues.Act_result"></textarea>

                            </div>
                        </div>

                        <div class="overview">
                            <div class="col-lg-12">
                                <h4 style="color: black;"> Bugs Overview </h4>
                                <div class="form-group">
                                    <label class="control-label">Summary<sup class="sup_star">*</sup>: </label>
                                    <textarea rows="3" class="form-control curve" name="summary"
                                              ng-model="issues.summary" required></textarea>
                                    <div ng-messages="add_issues.summary.$error" class="text-danger"
                                         data-ng-if=" submitted || add_issues.summary.$touched">
                                        <div ng-message="required">Summary is required.</div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label class="control-label">URL <sub>(Only http://,https://)</sub> </label>

                                    <input type="url" class="form-control curve" name="url" ng-model="issues.url">

                                    <div class="text-danger">

                                        <span class="error" ng-show="add_issues.url.$error.url">
                                            Not valid url!</span>
                                    </div>


                                </div>
                            </div>

                        </div>
                        <div class="environment">
                            <div class="col-lg-12">
                                <h4 style="color: black;">Environment </h4>
                                <div class="form-group col-lg-4">
                                    <label class="control-label">Platform </label>
                                    <select class="form-control" style="text-transform: capitalize;"
                                            ng-options="option.name | capitalize for option  in Platform track by option._id"
                                            ng-model="issues.Platform">
                                        <option value="">Select Platform</option>
                                    </select>

                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="control-label">Operating System </label>
                                    <select class="form-control" style="text-transform: capitalize;"
                                            ng-options="option.name | capitalize for option in OperatingSystem track by option._id "
                                            ng-model="issues.OperatingSystem">
                                        <option value="">Select Operating System</option>
                                    </select>

                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="control-label">Browser </label>
                                    <select class="form-control" style="text-transform: capitalize;"
                                            ng-options="option.name | capitalize for option in Browser track by option._id "
                                            ng-model="issues.Browser">
                                        <option value="">Select Browser</option>
                                    </select>

                                </div>
                            </div>
                        </div>

                    </div>












                    <div class="col-lg-4">
                        <h4 class="col-lg-12">Bug Tracking</h4>
                        <div class="form-group col-lg-6">
                            <label class="control-label">Assignee<sup class="sup_star">*</sup>:</label>


                            <select required class="form-control" style="text-transform: capitalize;" name="assigne"
                                    ng-options="option.first_name + ' ' + ' ('+option.email+ ')'  | capitalize disable when option.status != 1 for option in issues_assignee track by option._id"
                                    ng-model="issues.assigne_id">
                                <option value="">Select assignee</option>
                            </select>

                            <div ng-messages="add_issues.assigne.$error" class="text-danger "
                                 data-ng-if=" submitted || add_issues.assigne.$touched">
                                <div ng-message="required">Assignee is required.</div>
                            </div>


                        </div>
                        <div class="form-group col-lg-6">
                            <label class="control-label">User Stories</label>
                            <select class="form-control" style="text-transform: capitalize;" name="userstory"
                                    ng-options="option.name | capitalize for option in issues_userStory track by option._id"
                                    ng-model="issues.user_story_id">
                                <option value="">Select User Stories</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="control-label">Severity<sup class="sup_star">*</sup>:</label>
                            <select required class="form-control" style="text-transform: capitalize;" name="severity"
                                    ng-options="option.name | capitalize for option in Severity track by option._id"
                                    ng-model="issues.severity">
                                <option value="">Select Severity</option>
                            </select>
                            <div ng-messages="add_issues.severity.$error" class="text-danger" data-ng-if=" submitted || add_issues.severity.$touched">
                                <div ng-message="required">Severity is required.</div>
                            </div>
                        </div>
                        <!--ng-selected="issues.status == status[2].name"-->
                    <!--     <div class="form-group col-lg-6">
                            <label class="control-label">Status</label>
                            <select class="form-control" ng-selected="status[0]" style="text-transform: capitalize;" ng-model="issues.status" ng-options="option.name | capitalize for option in status">
                            </select>
                        </div> -->
                    </div>
                </div>
                <div class="attachments">
                    <div class="col-lg-12">
                        <div class="col-lg-10">
                            <label><i class="fa fa-paperclip attachment_icon"
                                      aria-hidden="true"></i>&nbsp;Attachments</label>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <input class="file-upload upload meeting-attachment" type="file" ngf-select ng-model="issues.attachments"
                               ngf-max-size="5MB" ngf-model-invalid="errorMeetingFile" name="file"
                               ngf-pattern="'.pdf,.jpg,.gif,.ods,.png,.jpeg,.xls,.xlsx,.doc,.docx,.ppt'"
                               ngf-multiple="true" ngf-max-files="5">                       
                        <sub>(Maximum file limit 5 and extension can be .pdf, .jpg, .gif, .ods, .png, .jpeg, .xls, .xlsx, .doc, .docx, .ppt)</sub>
                         <div class="text-danger" ng-show="add_issues.file.$error.maxSize">File too large. Max size can be 5 MB
                        </div>
                        <div class="text-danger"
                             ng-show="(errorMeetingFile[0].$error != pattern || errorMeetingFile[0].$errorMessages.maxFiles == true) && add_issues.file.$dirty && !add_issues.file.$error.maxSize">
                            File extension or File limit is not valid.
                        </div>
                        <ul>
                            <li ng-repeat="f in issues.attachments" style="font:smaller">
                                {{f.name}}
                            </li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                 aria-valuemax="100" style="width:{{progress}}%">
                                <span data-ng-bind="progress + '%'">Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>